<%=flash[:notice]%>

<h2> Saved Bookmarks: </h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li id = "bookmark-<%= bookmark.id %>">>
  <a href="<%= bookmark.url %>"> <%= bookmark.title %> </a>
  <form action="/bookmarks/<%=bookmark.id %>/delete" method="post">
     <input id="hidden" type="hidden" name="id" value="<%= bookmark.id %>">
     <input type="submit" value="Delete" />
   </form>

   <form action="/bookmarks/edit">
     <input id="hidden" type="hidden" name="id" value="<%= bookmark.id %>">
    <input type="submit" value="Update" />
    </form>
    </li>
  <% end %>
</ul>
